# Core Django
Django==5.2.3
django-cors-headers==4.7.0

# API REST
djangorestframework==3.16.0

# Gestion des médias
Pillow==11.2.1
whitenoise

# Éditeur de texte riche
django-ckeditor==6.7.3
django-js-asset==3.1.2

# Utilitaires
sqlparse==0.5.3

# Ajoute ici d'autres dépendances utiles à ton projet
gunicorn